*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Form Page */

body a{
	text-decoration: none;
}

.container-body{
	width: 100%;
	padding: 148.5px 0px;
	background-image: linear-gradient(to right top, #043a8a, #094ea2, #0e62ba, #1077d3, #128deb);
}

.container-form{	
	width: 30%;
	background-color: #fff;
	margin: auto;
	padding: 5px;
	border-radius: 7px;
	vertical-align: middle;
}

.container-form .header p{
	text-align: center;
	padding: 25px;
	font-family: sans-serif;
	font-size: 22px;
	letter-spacing: 1px;
}

.container-form .content{
	margin-left: 30px;
}

.container-form label{
	font-family: sans-serif;
	font-size: 15px;
}

.container-form input[type=text], input[type=password]{
	font-size: 14px;
	display: block;
	margin-top: 5px;
	margin-bottom: 30px;
	width: 90%;
	height: 20px;
	padding: 15px 3px;
	border: 0px;
	border-bottom: 1px solid #000;
}

.select-akses{
	border: 0px;
	border-bottom: 1px solid #000;
	width: 330px;
	padding: 4px 0px;
	margin: 10px 0px 30px 0px;
	font-family: 'Nunito Sans', sans-serif;
}

.select-akses:focus{
	outline: none;
}

input:focus{
	outline: none;
}

.container-form button{
	display: block;
	width: 93%;
	height: 35px;
	margin: 30px 0px;
	border: 1px solid #0E60B8;
	background-color: #fff;
	border-radius: 15px;
	font-size: 15px;
}

.container-form button:hover{
	background-color: #0E60B8;
	color: #fff;
	cursor: pointer;
	transition: 0.2s ease-in;
}

.container-form button a{
	text-decoration: none;
	color: #000;
}

/* End Form Page */

/* Dashboard Page */

.dashhead{
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #3F51B5;
	z-index: 1;
}

.dashhead .title{
	position: absolute;
	color: #fff;
	font-size: 20px;
	line-height: 60px;
	margin-left: 70px;
	text-transform: uppercase;
	font-family: 'Cantarell', sans-serif;
}

.dashhead .user{
	color: #fff;
	line-height: 60px;
	float: right;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
	margin-right: 25px;
}

.sidebar{
	position: fixed;
	margin-top: 60px;
	background-color: #1F2F46;
	width: 250px;
	height: 100%;
	z-index: 1;
}

.sidebar ul{
	padding: 20px;
}

.sidebar li{
	list-style: none;
	padding: 10px 10px;
	font-family: 'Poppins', sans-serif;
	text-transform: capitalize;
}

.sidebar .fas{
	margin: 0px 5px 0px 0px;
	color: #fff;
}

.sidebar li a{
	text-decoration: none;
	color: #fff;
}

.sidebar li:hover{	
	display: block;
	background-color: rgb(24, 36, 53);
	border-left: 3px solid #3F51B5;
}

.main{
	position: absolute;
	padding-top: 70px;
	padding-left: 260px;
	padding-right: 10px;
	background-color: #fff;
}

.main span{
	margin: 15px 0px;	
}

.main p{
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 20px;
}

.main .mainp{
	margin-top: 35px;
	font-size: 37px;
}

.main .satu{
	display: inline-block;
	width: 340px;
	margin-left: 17px;
	height: 180px;
	padding: 10px 20px;
	background-color: #5989CB;
}


.main .dua{
	display: inline-block;
	width: 340px;
	margin-left: 17px;
	height: 180px;
	padding: 10px 20px;
	background-color: #FFDA01;
}

.main .tiga{
	display: inline-block;
	width: 340px;
	margin-left: 17px;
	height: 180px;
	padding: 10px 20px;
	background-color: #FB7F73;
}

.main .dashwell{
	padding: 0px 15px;
	width: 1080px;
	height: 105px;
	border-left: 15px solid #043a8a;
	background-color: #3F51B5;
	color: #fff;
}

.dashwell h2{
	font-family: 'Inknut Antiqua', serif;
}

.dashwell h3{
	font-family: 'Cormorant', serif;
}

.cari{
	position: absolute;
	display: inline-block;
	margin-left: 730px;
	margin-top: 15px;
	width: 188px;
	padding: 6.5px 8px;
	border: 1px solid rgb(207, 207, 207);
	font-family: 'Nunito Sans', sans-serif;
	text-transform: capitalize;
}

.btn-cari{
	position: absolute;
	margin-left: 917px;
	margin-top: 15px;
	float: right;
	background-color: #3F51B5;
	padding: 8.9px 15px;
	color: #fff;
	border:  0px;
	border-radius: 0px 15px 15px 0px;
}

.btn-cari:focus{
	outline: none;
}

.btn-cari:hover{
	background-color: rgb(47, 65, 165);
}

.cari-peg{
	position: absolute;
	display: inline-block;
	margin-left: 705px;
	margin-top: 15px;
	width: 188px;
	padding: 6.5px 8px;
	border: 1px solid rgb(207, 207, 207);
	font-family: 'Nunito Sans', sans-serif;
	text-transform: capitalize;
}

.btn-cari-peg{
	position: absolute;
	margin-left: 890px;
	margin-top: 15px;
	float: right;
	background-color: #3F51B5;
	padding: 8.9px 15px;
	color: #fff;
	border:  0px;
	border-radius: 0px 15px 15px 0px;
}

.btn-cari-peg:focus{
	outline: none;
}

.btn-cari-peg:hover{
	background-color: rgb(47, 65, 165);
}

.btn-cari-brg{
	background-color: #527BFF;
	border: 0;
}

.btn-cari-brg i {
	color: #fff;
}

.btn-cari-brg:focus{
	outline: none;
}

.btn-cari-brg:hover{
	background-color: #304A9E;
	cursor: pointer;
}


/* End Dashboard Page */

/* Table */

.table-btn{
	display: block;
	width: 130px;
	padding: 10px 13px;
	border-radius: 20px;
	border: 0;
	background-color: #3F51B5;
	float: left;
}

.table-btn i{
	color: #fff;
}

.table-btn span{
	color: #fff;
	font-size: 14px;
	font-family: 'Nunito Sans', sans-serif;
}

.table-btn:hover{
	background-color: rgb(47, 65, 165);
}

table{
	margin: 0px 5px;
	border-collapse: collapse;
	font-family: 'Nunito Sans', sans-serif;
}

table .head-table{
	background-color: #3F51B5;
}

table tr th{
	color: #fff;
	height: 50px;
}

table .head-table .col1{
	border-radius: 10px 0px 0px 0px;
	width: 50px;
}

table .head-table .col2{
	width: 250px;
}

table .head-table .col3{
	width: 150px;
}

table .head-table .col4, .col5, .col6, .col7, .col8{
	width: 100px;
}

table .head-table .col9{
	width: 100px;
	border-radius: 0px 10px 0px 0px;
}

table td{
	text-align: center;
	padding: 10px 0px;
	font-size: 14px;
	text-transform: capitalize;
}

td button{
	padding: 7px;
	border: 0;
}

td .fa-pen, .fa-info-circle{
	background-color: #527BFF;
	color: #fff;
}

td .fa-trash-alt{
	background-color: #bd2130;
	color: #fff;
}

table tr:nth-child(even){
	background-color: rgb(240, 236, 255);
}

.data-barang .tr-data-barang{
	border-bottom: 1px solid #000;
}

.data-barang tr th, td{
	color: rgb(36, 35, 35);
	padding: 10px 30px 5px 40px;
}

.cetak{
	display: none;
}

@media print{
	.cetak{
		display: inline;
	}
}

.cetak span{
	margin: 15px;
}

.cetak span h1, h2{
	font-family: sans-serif;
	text-align: center;
}

.cetak span h1{
	font-size: 28px;
}

.cetak span h2{
	font-size: 20px;
}

.cetak table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 25px;
}

.cetak tr{
	background-color: #DDDDDD;
}

.cetak tr th{
	height: 43px;
	color: #000;
}

/* End Table */

/* Tambah Inventarisir */

.form-tambah-invent{
	width: 800px;
	height: 560px;
	margin: 25px 140px;
	box-shadow: 0px 3px 17px 0px rgba(158,158,158,1);
	border-radius: 10px;
	box-sizing: border-box;
}

.form-tambah-pinjam{
	width: 800px;
	min-height: 60px;
	margin: 25px 140px;
	box-shadow: 0px 3px 17px 0px rgba(158,158,158,1);
	border-radius: 10px;
	box-sizing: border-box;
}

.head-form-invent{
	border-radius: 10px 10px 0px 0px;
	width: 800px;
	padding: 13px 25px;
	background-color: #3F51B5;
}

.head-form-invent p{
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: bold;
}

.form-invent{
	padding: 15px 28px;
}

.form-invent label{
	font-weight: 500;
	font-size: 16px;
	font-family: 'Nunito Sans', sans-serif;
	vertical-align: top;
}

.form-invent input[type="text"], input[type="number"], input[type="date"], select, textarea{
	width: 600px;
	padding: 4px 5px;
	margin-bottom: 10px;
	font-family: 'Nunito Sans', sans-serif;
}

.form-invent input[type="text"], select, textarea{
	text-transform: capitalize;
}

.form-invent input[type="button"], input[type="submit"]{
	float: right;
	margin: 8px 3px;
	padding: 8px 10px;
	border: 0;
	color: #fff;
	font-family: 'Nunito Sans', sans-serif;
}

.form-invent input[type="button"]{
	background-color: #BD2130;
	margin-right: 17px;
	margin-bottom: 5px;
}

.form-invent input[type="submit"]{
	background-color: #527BFF;
}

.form-invent input[type="button"]:hover{
	background-color: rgb(129, 23, 34);
	cursor: pointer;
}

.form-invent input[type="submit"]:hover{
	background-color: rgb(48, 74, 158);
	cursor: pointer;
}

.fa-trash-alt:hover{
	background-color: rgb(129, 23, 34);
	cursor: pointer;
}

.fa-pen:hover{
	background-color: rgb(48, 74, 158);
	cursor: pointer;
}

.fa-info-circle:hover{
	background-color: rgb(48, 74, 158);
	cursor: pointer;
}

/* End Inventarisir */